<!doctype html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <style id="_stylefy-constant-styles_"></style>
        <style id="_stylefy-styles_"></style>
    </head>
    <body>
        <div id="app"></div>
        <script src="js/compiled/app.js"></script>
        <script>{{class}}.core.init();</script>
    </body>
</html>
